.sidebar
  .panel-primary
    border-color #0099da
  .panel
    border-radius 0
    background-color #f7f7f7
    .panel-heading
      background-color #0099da
      color #fff
      border-radius 0
      font-family Lato, Open Sans, sans-serif
      i
        margin-right 5px
        font-size 1.1em
