footer
  h3
    font-family Lato, sans-serif
    font-size 1.6em
    color #0eb7ff
    font-weight 300
    line-height 120%
    margin 10px 0 17px

  .footer-widgets
    background-color #444
    color #eee
    padding 0 0 20px
    margin-top 50px
    border-top solid 1px #ccc
    box-shadow 0 0 1px rgba(0,0,0,0.3)

    .list-unstyled
      padding-left 0
      list-style none
    .three_cols
      overflow hidden
      li
        float left
        width 33.333%
        padding-bottom 2px
        padding-top 1px

    a
      color #eee
      text-decoration none
      transition all 0.25s ease

    a:hover
      color #0eb7ff

  .footer-copyright
    background-color #333
    color #ccc
    padding 17px 0 10px
    border-top solid 1px #555
