header
  background-image linear-gradient(to top, #f0f0f0, #f4f4f4)

  .header-title
    a
      text-decoration none
    h1
      color #0099da
      margin 15px 0 15px
      font-family Muli
      font-size 32px
      padding-right 5px

  .navbar
    border-radius 0
  .navbar-default
    border-color #444
  .navbar-dark
    border none
    background-color #444
    box-shadow none

  .navbar-default.navbar-dark .navbar-nav>li>a
    color #FFF

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:active,
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus
    color #FFF
    background-color #0099da

  .navbar-default .navbar-nav>li>a
    font-family Lato
    font-size 16px
    font-weight 400

  .navbar-header
    h1
      font-size 18px
      color #FFF
      margin 0
